<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    
    <style>
        body container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
    
<!-- Pixel Code for https://analytics.test/ -->
<script defer src="https://analytics.test/pixel/e10J8mKHOWr1TcCq"></script>
<!-- END Pixel Code -->

</head>

<body>
    <container>
        <h1>About Page</h1>
        <button><a href="/">Home</a></button>
        <button><a href="/logout">Logout</a></button>
    </container>
</body>

</html>