<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<!-- Pixel Code for https://analytics.test/ -->
<script defer src="https://analytics.test/pixel/e10J8mKHOWr1TcCq"></script>
<!-- END Pixel Code -->
</head>

<body>
    <h1>Please Login</h1>
    <form action="/auth.php" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <input type="submit" name="submit" value="login">
        <br>
        <h4>Or <a href="/register">Regiser</a></h4>
    </form>
</body>

</html>